.widget {
	padding: 2rem;
	display: flex;
	flex-direction: column;
	border: 1px solid;
	border-radius: 1rem;
	border-color: set-color-opacity(#fff, 0.1);
	transition: 250ms ease;

	&-header,
	&-content,
	.buttons,
	.info {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.info {
		font-size: 1.5rem;
		i {
			font-size: 2rem;
			margin-right: 1rem;
		}
	}

	.info span {
		display: flex;
		flex-direction: column;
	}

	&.bg-primary {
		.hover-extra {
			&:hover {
				@include set-hover($primary-color, $primary-color);
			}
		}
	}

	.hover-extra {
		margin-left: 1rem;
		padding: 1rem;
		border: 1px solid transparent;
		border-radius: 0.5rem;
		transition: all 250ms ease;

		&:hover {
			@include set-hover($dark-primary-color, $dark-primary-color);
		}
	}

	i {
		margin-left: 0.2rem !important;
	}

	&-content {
		.data {
			font-size: 2rem;

			.percent-change {
				font-size: 1rem;
			}
		}
	}
}
