@import 'config';
@import 'utilities';
@import 'navbar';
@import 'header';
@import 'widget';
@import 'applicants';

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
		Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	font-size: 1rem;
	line-height: 1.6;
	@include set-background($dark-primary-color);
}

.container,
.material {
	display: flex;
	flex-direction: column;
	margin-top: 0.5rem;
}

.material {
	&-title,
	.searchbar {
		display: flex;
		justify-content: space-between;
		align-items: center;

		.btn {
			margin-right: 1rem;
		}
	}

	&-content {
		margin-top: 2rem;
		display: grid;
	}

	&-content-has-sidebar {
		grid-template-columns: 3fr 1fr;
		grid-column-gap: 1rem;
	}
}

.material-content-left {
	display: flex;
	flex-direction: column;

	.row {
		margin-bottom: 1rem;
		display: grid;
		grid-gap: 1rem;

		&.col-1 {
			grid-template-columns: 3fr;
		}

		&.col-2 {
			grid-template-columns: 2fr 1fr;

			.data {
				width: 100%;

				.percentage {
					&.color {
						&-primary:after {
							background-color: $primary-color;
						}
						&-secondary:after {
							background-color: $secondary-color;
						}
						&-tertiary:after {
							background-color: $tertiary-color;
						}
					}
					&:after {
						height: 50%;
					}

					&:hover,
					&:focus {
						&.color {
							&-primary:after {
								background-color: lighten($color: $primary-color, $amount: 20);
							}
							&-secondary:after {
								background-color: lighten(
									$color: $secondary-color,
									$amount: 20
								);
							}
							&-tertiary:after {
								background-color: lighten($color: $tertiary-color, $amount: 20);
							}
						}
					}
				}
			}
		}

		&.col-3 {
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}

.material-content-right {
	display: flex;
	flex-flow: column;
	height: 100%;
	text-align: center;
	border-radius: 1rem;
	border: 1px solid set-color-opacity(#fff, 0.1);

	.title {
		flex: 0 1 auto;
	}

	.graphic {
		flex: 0 1 auto;

		img {
			height: 15rem;
		}
	}

	.application-lists {
		flex: 1 1 auto;
		margin-top: -4rem;
		border-radius: 1rem;
		border-top-left-radius: 3rem;
		border-top-right-radius: 3rem;
		@include set-background($dark-secondary-color);

		.title {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			text-align: left;
			border: 1px solid transparent;
			border-radius: 0.5rem;
			transition: all 250ms ease;

			&:hover {
				@include set-hover($dark-primary-color, $dark-primary-color);
			}
		}
	}
}
